.header{
    background-color: whitesmoke;
    height: 70px;
    width: 100%;
    padding: 30px;
    display: flex;
}
.img_logo{
    height: 70px;
    width: 70px;
    margin-right: 500px;
}
.opt{
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: end;
}
.opt:hover{
    color: #ff8e3c;
}
.text-bg{
    height: 800px;
    width: 700px;
    background-color: #ff8e3c;
    color: White;
    align-content: center;
    text-align: center;
}
.cursive{
    font-family: "Dancing Script", cursive;
    font-size: 60px;
    margin-bottom: 10px;
}
.Capital{
    font-family: "Bona Nova SC", serif;
    font-size: 40px;
}
.btn-reserve{
    background-color: whitesmoke;
    height: 60px;
    width: 190px;
    font-size: 15px;
    border: solid white 2px;
    color: #ff8e3c;
    font-weight: bold;
    border-radius: 15px;
}
.btn-reserve:hover{
    background-color: #ff8e3c;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px whitesmoke;
}
.front_container{
    display: flex;
}
.img_front{
    height: 798px;
    width: 100%;
}
.img_divison{
   width: 50%;
}
h2{
    text-align: center;
    color: #ff8e3c;
    font-family: "Bona Nova SC", serif;
    font-size: 45px;
    margin-top: 50px;
}
h3{
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-size: 30px;
}
.text-center{
    text-align: center;
}
.name-item{
    font-size: 30px;
    padding-left: 10px;
    color: #ff8e3c;
    font-weight: bold;
}
.menu-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cards{
    height: 400px;
    width: 400px;
     border: solid #ff8e3c 7px;
     border-radius: 30px;
     overflow: hidden;
     position: relative;
}
.cards:hover{
    cursor: pointer;
}
.img_card{
    height: 400px;
    width: 100%;
    border-radius: 20px;
}
.card_info{
    height: 40px;
    width: 400px;
    padding: 6px;
    bottom: 1px;
    position: absolute;
   background-color: #ffaa80;
    color: black;
    box-sizing: border-box; 
}
.heading{
    font-size: 25px;
    margin:10px;
    text-align: center;
    font-family:"Bona Nova SC";
}
.info{
    font-size: 15px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    text-align: center;
    font-family: monospace;
}
.cards:hover .card_info{
    height: 120px;
    background-color: #ffaa80;
    color: black;
}
.cards:hover .info{
    visibility: visible;
    opacity: 1;
}
.card:hover{
    transform: scale(1.1);
}